{% from "util.html" import article_title with context %}

{{ article_title('Cherry and Walnut Desk') }}

{% filter markdown %}

<a href="/static/gallery/OdYey1f.jpg" class="thumbnail">
    <img src="/static/gallery/OdYey1f.jpg">
</a>

Ever since getting into woodworking as a hobby about a year ago, I wanted to build myself a new computer desk. It was a fairly ambitious project, certainly the most complex of my woodworking projects so far, so it took me a while to dive in and get to it. I had the perfect opportunity a few weeks ago when I was off of work in between jobs.

In college, I had a pretty nice desk that had drawers on both sides and a nice, big desk top with plenty of space. I wanted something like that again, so that was the inspiration behind the plans that I came up with.

I drafted the plans myself, mostly on paper, after taking some measurements of my current desk. I didn't fully plan out every detail, and some things evolved as the build took place.

I still need to apply polyurethane, at least to the top for protection, so it's not in my office quite yet. But otherwise it's a done project.

[Click here to view the album!](http://imgur.com/a/tnFNG)

{% endfilter %}
