{% from "util.html" import article_title with context %}

{{ article_title('Spherical Harmonics') }}

{% filter markdown %}

<a href="https://www.michaelfogleman.com/static/spherical-harmonics/" class="thumbnail">
    <img src="https://www.michaelfogleman.com/static/spherical-harmonics/sh.4.7.png">
</a>

I recently learned of [Spherical Harmonics](https://en.wikipedia.org/wiki/Spherical_harmonics) and immediately proceeded to render them using my path tracer. For each render, I used marching cubes to generate a mesh for ray-intersection tests. But I used the gradient of the harmonic function to compute the surface normals for a nice, smooth appearance. The axes are modeled using a capsule-shaped signed distance function. I like how even the axes cast shadows.

I have yet to truly grok the applications of spherical harmonics. I really only learned enough to be able to render them.

[View the gallery here.](https://www.michaelfogleman.com/static/spherical-harmonics/)

{% endfilter %}
