{% extends 'base.html' %}

{% block content %}
    <h3>Hello!</h3>
    <div class="row">
        <div class="col-md-8">
            <p class="lead">My name is Michael Fogleman. I live in Cary, NC with my wife and our two beautiful children. I am a Senior Software Engineer at <a href="http://transloc.com/">TransL&#x014D;c</a>, where I develop software to help improve transit. I love programming and am usually busy with one of many <a href="{{ url_for('projects') }}">side projects</a>. My favorite programming languages are Python, Go, C and Objective-C, though I also have significant <a href="{{ url_for('resume') }}">experience</a> with several other languages and technologies. Much of my computing interest is geared toward graphics. I like gardening, woodworking, '80s music, space exploration and all kinds of food.</p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="margin: 0;">
                <img src="http://www.gravatar.com/avatar/7b7aefbc459629eb4c864b825894c9c4.png?s=512">
            </div>
            <div style="text-align: center;">
                <h5>My Current Gravatar</h5>
            </div>
        </div>
    </div>
    <h3>Highlights</h3>
    <p class="lead">Here's what I've been up to lately, in the form of pictures...</p>
    <div class="highlights">
        {% for i in range(0, highlights|length, 4) %}
            <div class="row">
                {% for hash in highlights[i:i+4] %}
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="//i.imgur.com/{{ hash }}.png" target="_blank">
                                <div class="ratio" style="background-image:url('http://i.imgur.com/{{ hash }}l.png');"></div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
