{% extends 'base.html' %}

{% block content %}
    <h3>Hello!</h3>
    <div class="row">
        <div class="col-sm-8">
            <p class="lead">My name is Michael Fogleman. I live in Cary, NC with my wife and our two beautiful children. I work at <a href="http://transloc.com/">TransL&#x014D;c</a>, where I develop software to help improve transit. I love programming and am usually busy with <a href="{{ url_for('projects') }}">side projects</a>. My favorite languages are Python and Go, but I have broad <a href="{{ url_for('resume') }}">experience</a> with many languages and technologies. Much of my computing interest is geared toward graphics. I like gardening, woodworking, '80s music, space exploration and all kinds of food.</p>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="//www.gravatar.com/avatar/7b7aefbc459629eb4c864b825894c9c4.png?s=512">
            </div>
        </div>
    </div>
    <hr>
    <div class="highlights">
        {% for i in range(0, highlights|length, 3) %}
            <div class="row">
                {% for hash in highlights[i:i+3] %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a href="//i.imgur.com/{{ hash }}.png" target="_blank">
                                <div class="ratio" style="background-image: url('//i.imgur.com/{{ hash }}l.png');"></div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
