{% extends 'base.html' %}

{% block content %}

<h3>Projects</h3>

<p class="lead">
    Here are some personal programming projects that I've worked on over the
    years. Some are very mature and have thousands of users. Others are
    unpolished projects that I had fun with for just a short time.
</p>

{% set projects = [
    ('Craft', 'craft', 'craft', false),
    ('iMeme', 'imeme', 'imeme', false),
    ('GPS', 'gps', 'gps', false),
    ('HiRISE', 'hirise', 'hirise', false),
    ('Star Rocket', 'star-rocket', 'star_rocket', false),
    ('Scale', 'scale', 'scale', false),
    ('Game Frame', 'game-frame', 'game_frame', true),
    ('Quads', 'quads', 'quads', true),
    ('Tiling', 'tiling', 'tiling', true),
    ('Field', 'field', 'field', true),
    ('Ricochet Robot', 'ricochet', 'ricochet', false),
    ('Sync', 'sync', 'sync', true),
    ('DCPU-16', 'dcpu', 'dcpu', false),
    ('Piet', 'piet', 'piet', true),
    ('Feed Notifier', 'feed-notifier', 'feed_notifier', true),
    ('Phrases', 'phrases', 'phrases', false),
] %}

<div class="projects">
    {% for i in range(0, projects|length, 3) %}
        <div class="row">
            {% for name, folder, endpoint, external in projects[i:i+3] %}
                <div class="col-md-4">
                    <a href="{{ url_for(endpoint) }}" class="thumbnail">
                        <img src="{{ static('img/project/' + folder + '/thumbnail.png') }}">
                    </a>
                    <h4>{{ name }}{% if external %} <small><span class="glyphicon glyphicon-new-window"></span></small>{% endif %}</h4>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}
