{% extends 'base.html' %}

{% block content %}

<h3>Projects</h3>

<p class="lead">
    Here are some side projects that I've worked on over the
    years. Some are very mature and have thousands of users. Others are
    unpolished projects that I had fun with for a short time.
</p>

{% set projects = [
    ('Craft', 'craft', false, "Minecraft clone written in C using modern OpenGL. Very performant."),
    ('NES', 'nes', true, "NES emulator written in Go, includes thumbnail game menu."),
    ('Path Tracer', 'pt', true, "Parallel path tracing renderer written in Go."),
    ('Go Graphics', 'gg', true, "2D rendering in pure Go with a simple API inspired by Cairo."),
    ('Point Maps', 'density', true, "Custom tile server for rendering millions of points on a map."),
    ('3D Line Art', 'ln', true, "Renderer used to produce 2D vector graphics depicting 3D scenes."),
    ('Pirate Map', 'pirate_map', true, "Procedurally generated pirate treasure maps. X marks the spot!"),
    ('iMeme', 'imeme', false, "Sick of using crappy websites to create your memes? Try iMeme."),
    ('Quads', 'quads', true, "Computer art based on quadtrees. Written in Python."),
    ('Tiling', 'tiling', true, "Quickly construct tilings of regular polygons using a simple API."),
    ('GPS', 'gps', false, "Live 3D visualization of current GPS satellite positions."),
    ('HiRISE', 'hirise', false, "Fly through real Martian landscapes using data released by HiRISE."),
    ('Feed Notifier', 'feed_notifier', true, "Real-time popup notifications for RSS feeds on Windows and OS X."),
    ('Star Rocket', 'star_rocket', false, "Collect all the stars in this single-player iOS arcade game."),
    ('Wooden Map', 'wooden_map', true, "CNC-created map of the 100 counties of North Carolina."),
    ('Sync', 'sync', true, "Simulating the behavior of synchronizing fireflies."),
    ('DCPU-16', 'dcpu', false, "An assembler, disassembler and emulator for the virtual DCPU-16."),
    ('Mister Queen', 'mister_queen', true, "Simple chess engine written in C. Good enough to beat me at least."),
    ('Field', 'field', true, "Creating computer art by simulating charged particle field lines."),
    ('Ricochet Robot', 'ricochet', false, "Board game GUI including a very fast solver."),
    ('Piet', 'piet', true, "Procedurally generating images in the style of Piet Mondrian."),
    ('Scale', 'scale', false, "Explore the mathematical beauty of fractals with this native Mac app."),
    ('Game Frame', 'game_frame', true, "Simulates the appearance of the Game Frame while you edit pixels."),
    ('Wang Tiling', 'wang_tiling', true, "Tiling a plane with seamless tiles. Written in Python."),
    ('Manhattan', 'manhattan', true, "Visualize the buildings of Manhattan using OSM data."),
    ('Dr. Mario', 'dr_mario', true, "Game clone written in Python including AI."),
    ('AllRGB', 'allrgb', true, "Generate images that use all 16,777,216 RGB colors exactly once."),
    ('Mapper', 'mapper', true, "Online tool for plotting and sharing geographical data quickly."),
    ('Phrases', 'phrases', false, "Random two-word phrases for creative thinking, code names, etc."),
    ('Wug', 'wug', true, "A unique word game. Find the real word amongst tricky fakes."),
] %}

<div class="projects">
    {% for i in range(0, projects|length, 3) %}
        <div class="row">
            {% for name, endpoint, external, description in projects[i:i+3] %}
                {% set folder = endpoint.replace('_', '-') %}
                <div class="col-md-4">
                    <a href="{{ url_for(endpoint) }}" class="thumbnail">
                        <img src="{{ static('img/project/' + folder + '/thumbnail.png') }}">
                    </a>
                    <h4>{{ name }}{% if external %} <small><span class="glyphicon glyphicon-new-window"></span></small>{% endif %}</h4>
                    <p>{{ description }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}
